.rp-create-dialog-body {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
}

.recipe-step {
    margin: 5px;
    padding: 5px;
    background: white;
}

.step-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.add-more-steps {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.add-more-steps .bp3-icon {
    color: gray;
    margin: 0 5px;
}

.add-more-steps:hover .bp3-icon {
    color: #0A6640;
}

.add-more-steps:hover .accent-line {
    background-color: #0A6640;
}

.add-more-steps .accent-line {
    flex-grow: 1;
    height: 2px;
    background-color: gray;
}
